<section id="about" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>ABOUT</h2>
                    <p>The purpose of this book club is to provide a platform for people who either wish to get into book reading or for the book lovers out there who would like an audience to share their views with.
                        Either way, our main motto is <b>"Read, Read & Read"</b> but have some fun as well!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- about module -->
            <div class="col-md-4 text-center">
                <div class="mz-module-about">
                    <i class="fa fa-book ot-circle"></i>
                    <h3>Read</h3>
                    <p>Read the book.</p>
                </div>
            </div>
            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-4 text-center">
                <div class="mz-module-about">
                    <i class="fa fa-users ot-circle"></i>
                    <h3>Discuss</h3>
                    <p>Discuss it among your peers in the club</p>
                </div>
            </div>
            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-4 text-center">
                <div class="mz-module-about">
                    <i class="fa fa-lightbulb-o ot-circle" aria-hidden="true"></i>
                    <h3>Learn</h3>
                    <p>You will always learn something new in each meeting</p>
                </div>
            </div>
            <!-- end about module -->
        </div>
    </div>
    <!-- /.container -->
</section>