<section id={{include.section_id}} class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>{{ include.title }}</h2>
                    <p>{{ include.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for book in include.type %}
                <div class="col-md-4">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="{{ book.img_src }}" alt="img02" class="img-responsive" />
                            <figcaption>
                                <a href={{book.url}}#something data-toggle="modal" data-target={{book.id}}>View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
